{% extends 'base.html' %}

{% block content %}

<h1>Donkey List</h1>

{% for donkey in donkeys %}
  <div class="card">
    <a href="{% url 'detail' donkey.id %}">
    <div class="card-content">
      <div class="flex-container">

      <div>
        <span class="card-title">{{ donkey.name }}</span>
        <p>Breed: {{ donkey.breed }} </p>
        <p>Description: {{ donkey.describtion }} </p>

        {% if donkey.age > 0 %}
          <p>Age: {{ donkey.age }}</p>
        {% else %}
          <p>Age: Kitten</p>
        {% endif %}
      </div>

      <div>
        {% load static %}
        <img src="{% static donkey.image|cut:'main_app/static/' %}" width="100px" height="100px">
      </div>

    </div>
  </div>
  </a>
  </div>
{% endfor %}
{% endblock %}